BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 79
InsertBraces: true
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: Consecutive
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
